{% extends 'baseUser.html.twig' %}

{% block title %}Relaxeo - Cgv{% endblock %}
  
{% block body %}
    <div class="d-sm-flex align-items-center text-justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cgv</h1>        
    </div>

  <div class="row">
	<div class="col-1">
	</div>
	<div class="col-10">
		12/10/2017
		<br />
		Dans les présentes :
		<p class="text-text-justify">Le terme« Client » désigne une personne physique consommateur et majeur à qui Fit & Relax fournit une prestation de services d’encadrement et d’accompagnement dans le cadre d’activités sportives et de bien-être.</p>

		<p class="text-justify">Le terme « Contrat » désigne le contrat entre le Client et Fit & Relax qui est régi par Le formulaire de commande en ligne et les conditions générales de vente aux particuliers de Fit & Relax (dans leur version en vigueur au moment de la commande). Les stipulations des présentes conditions générales prévaudront en cas de contradiction avec tout autre document contractuel de Fit & Relax ou du Client.</p>

		<p class="text-justify">Le terme « Prestataires » désigne les professionnels diplômés ou certifiés (coachs sportifs et tout autre professionnel), désignés par Fit & Relax pour réaliser les prestations de services dans le cadre d’un Contrat.</p>

		<p class="text-justify">Enfin le terme « Fit & Relax » désigne la société par actions simplifiées FIT & RELAX, dont le siège social est situé au 58 QUAI DE DION BOUTON 92800 PUTEAUX, immatriculée au Registre du Commerce et des Sociétés de Nanterre sous le n° 818 505 539.</p>

		<p class="text-justify">Objet du Contrat :
		Le Contrat détaille les droits et obligations respectifs de Fit & Relax et de ses Clients dans le cadre de la vente et de la réalisation, par Fit & Relax, de prestations de services d’encadrement et d’accompagnement dans le cadre d’activités sportives et de bien-être.</p>

		1. Objet et présentation de l'activité.

		<p class="text-justify">Ces conditions générales de vente détaillent les droits et obligations de Fit & Relax et de ses Clients dans le cadre des prestations de services fournies par Fit & Relax. Ces conditions générales de vente s’appliquent à tous les contrats conclus avec les Clients sur le site internet http://www.relaxeo.net.
		Toute prestation accomplie par Fit & Relax implique l’adhésion sans réserve du Client aux présentes conditions générales de vente.
		Le Client reconnaît avoir pris connaissance des présentes conditions générales de vente et déclare expressément les accepter intégralement et sans réserve dès qu’il valide le formulaire de commande en ligne.</p>

		<p class="text-justify">Toute condition contraire aux conditions générales de vente sera, à défaut d’acceptation expresse de Fit & Relax, inopposable à Fit & Relax quel que soit le moment où elle aura pu être portée à sa connaissance.
		Fit & Relax met régulièrement à jour les conditions générales de vente afin de les faire correspondre au mieux aux attentes des Clients ainsi qu’à la législation en vigueur. Les conditions générales de vente qui s’appliqueront au Contrat du Client seront celles accessibles Sur le site internet au moment de la commande. Ces dernières seront considérées comme ayant été approuvées par le Client, sans indication contraire communiquée par le Client dans un délai de deux (2) semaines.
		Le Client dispose de la faculté de reproduire les conditions générales de vente accessibles sur le site internet.</p>

		2. Prestations.

		<p class="text-justify">Fit & Relax propose à ses Clients des séances d’encadrement et d’accompagnement dans le cadre d’activités sportives et de bien-être en extérieur ou en entreprise. Les prestations de services de Fit & Relax n’ont aucune vocation médicale et ne se substituent en aucun cas à un traitement médical.</p>
		<p class="text-justify">Toute séance comprend l’intervention d’un Prestataire professionnel expérimenté, qualifié et diplômé ou certifié dans sa spécialité, dans les locaux du client ou sur tout autre lieu du rendez-vous en cas de séance à l’extérieur.
		Les Prestataires assurent l’animation des séances conformément aux règles de la profession et y apportent tout le soin, le professionnalisme, la disponibilité et la diligence nécessaire.
		Sauf indication contraire, une séance correspond à une (1) heure d’activité effective. La préparation du Prestataire et du Client, ainsi que l’installation et le rangement du matériel ne sont pas compris dans cette heure.</p>

		3. Organisation et Planning

		<p class="text-justify">Fit & Relax est l'interlocuteur unique du Client pour le planning et l’organisation de ses séances.
		La réservation des séances s’effectue directement auprès de Fit & Relax.
		Dans le cas d’une séance collective, les participants doivent impérativement avoir des objectifs communs.</p>

		4. Retard, absence annulation et suspension

		<p class="text-justify">Les Clients sont tenus de respecter les rendez-vous et les horaires préalablement définis. Une fois inscrit à une séance, le Client peut se désinscrire à tout moment jusqu’à l’heure de début de la séance. Le client pourra alors décaler son inscription sur une autre séance sans coût supplémentaire pour le Client.
		Tout retard du Client sera automatiquement décompté du temps de la séance.
		En cas de retard du Prestataire, celui-ci doit rattraper le temps perdu en fin de séance ou sur la séance suivante. En cas d’absence non prévue du Prestataire, Fit & Relax proposera une séance de remplacement dans les meilleurs délais, aux mêmes conditions.
		Une séance peut être annulée par Fit & Relax à tout moment. Dans ce cas, les Clients concernés seront avertis au plus vite par email et par sms (s’ils ont fournis leur numéro de téléphone). Il leur sera donné le choix entre un remboursement de la séance ou la participation à une séance ultérieure sans coût supplémentaire pour le Client.
		Fit & Relax fixe le nombre d’inscrits maximum à une séance et se réserve le droit de refuser une inscription, si ce nombre est atteint. Fit & Relax ne pourra être tenu responsable pour le retard de l’exécution de la prestation en cas de force majeure. Dans cette hypothèse, le Client sera alors prévenu le plus rapidement possible et une nouvelle proposition de date pour le remplacement de la séance sera faite, dans les meilleurs délais.</p>

		5. Condition physique.

		<p class="text-justify">Les participants aux activités sont tenus d’avoir une condition physique qui leur permet la pratique de l’activité qu’ils auront sélectionnée.</p> 

		6. Règlement intérieur.

		<p class="text-justify">Dans le cadre des activités sportives, les participants doivent porter une tenue de sport correcte et propre pour la pratique des activités sportives (sauf instructions contraires du Prestataire).
		Les participants doivent prendre toute précaution nécessaire pour leur santé, leur sécurité et leur hygiène et respecter les consignes du Prestataire en ce sens.
		Sans préjudice de ce qui suit, Fit & Relax et le Prestataire pourront, sans préavis ni indemnité d’aucune sorte, exclure voire mettre fin au Contrat de tout participant dont l’attitude ou le comportement serait contraire aux bonnes mœurs, ou notoirement gênant, inacceptable ou dangereux pour lui-même ou pour les autres.</p>

		7. Durée et maintien du Contrat.
		<p class="text-justify">Le Contrat prend fin à la date à laquelle toutes les séances ont été effectuées par le Client, sauf dans les cas énoncés à l’article 6 « Règlement intérieur ». 
		Les conditions d’annulation du Contrat à l’initiative du Client dépendent de si elles ont été achetées « à l’unité » ou « en abonnement », comme détaillé ci-dessous.</p>

		<p class="text-justify">Dans le cas d’une séance achetée « à l’unité », le Client peut mettre fin au contrat à tout moment, tant que cet achat n’a pas été utilisé pour participer à une séance. Le Client pourra obtenir le remboursement de la séance en faisant la demande à Fit & Relax par mail à l’adresse contact@fitandrelax.fr .</p>

		<p class="text-justify">Dans le cas de séances achetées « en abonnement», le Client ne peut mettre fin au contrat que dans deux cas de figure :
		•	Les séances sur son lieu de travail ont été suspendues plus de 3 mois ou n’ont définitivement plus lieu.
		•	Le Client apporte la preuve qu’il a quitté son lieu de travail et ne peut donc plus profiter des séances organisées par Fit & Relax.
		Dans les cas cités ci-dessus le Client pourra obtenir le remboursement des séances non utilisées en faisant la demande à Fit & Relax par mail à l’adresse contact@fitandrelax.fr .

		Le Contrat et les séances ne sont pas cessibles par le Client sans accord préalable de Fit & Relax.</p>
		8. Assurance et responsabilités.

		<p class="text-justify">Fit & Relax conseille à chaque Client de souscrire une assurance de dommage corporel liée à l’activité physique et sportive le couvrant pour sa propre intégrité physique.
		Fit & Relax a souscrit une assurance pour couvrir les dommages engageant sa responsabilité professionnelle. Les Prestataires qui ne sont pas salariés de Fit & Relax sont des professionnels indépendants dont Fit & Relax n’est pas responsable et qui doivent également souscrire et maintenir une assurance professionnelle.
		La responsabilité de Fit & Relax ne pourra être recherchée qu’en cas de démonstration d’un lien de causalité entre une faute lourde commise par Fit & Relax dans l’exécution du Contrat et le dommage subi par le Client. La responsabilité de Fit & Relax ne pourra notamment pas être recherchée (i) en cas d’accident résultant de l’inobservation par le Client des consignes du Prestataire ; (ii) en cas d’accident intervenant hors des séances ou conseils délivrés par les Prestataires ; (iii) en cas d’actes ou omissions des Prestataires qui ne sont pas des salariés de Fit & Relax ; (iv) si le Client ne respecte pas les engagements qu’il prend et garanties qu’il donne au titre du Contrat ; et/ou (v) en cas de force majeure. Les dommages indirects (tels que, sans que cette liste ne soit limitative, une perte de revenus, une perte de chance, un manque à gagner, tout préjudice financier ou tout préjudice immatériel) ne pourront pas faire l’objet d’une indemnisation de la part de Fit & Relax.
		Le Client sera responsable en cas de dégradation occasionnée ou en cas de dommage matériel ou corporel résultant d’un acte volontaire ou involontaire survenant de son fait.
		Le Client s’engage par ailleurs à garantir et prendre en charge l’ensemble des condamnations et des frais de justice qui pourraient être encourus ou mis à la charge de Fit & Relax du fait des fautes, manquements ou autres actes survenant du fait du Client.</p>


		9. Commande, modalités de paiement prix.
		<p class="text-justify">Le Client reconnaît que la procédure de commande sur le site internet constitue un Contrat entre le Client et Fit & Relax.
		Le Client doit lire attentivement les conditions générales de vente et les accepter avant de valider chaque commande.
		Avant de passer commande, le Client doit bien étudier la description et les caractéristiques des services qu’il souhaite acheter. Les photographies et illustrations ne constituent pas un document contractuel.
		L’acceptation de l’offre par le Client est validée par le paiement de la commande. Le Client reconnaît par ce biais avoir lu, compris et accepté les conditions générales de vente sans limitation ni condition. Les conditions générales de vente sont référencées en bas de chaque page au moyen d’un lien et doivent être consultées avant de confirmer la commande. Fit & Relax demande également au Client de lire et accepter les conditions générales de vente à chaque nouvelle commande.
		Les prix affichés sur le site sont applicables pour tout achat effectué sur le site.
		Les prix sont affichés en euros (€).
		Le Client devra alors fournir, lors de la commande, toutes les informations nécessaires à la facturation et à l’exécution des services avant de finaliser son achat. 
		Fit & Relax autorise le paiement par cartes bancaires ou cartes de crédits, comme les cartes Visa, Mastercard, American Express.
		Le site internet fait l’objet d’un système de sécurisation. Fit & Relax a confié son système de paiement à Paypal et Payplug (services de paiement en ligne qui permet de payer des achats et de recevoir des paiements). Les sociétés Paypal et Payplug garantissent la totale confidentialité des informations bancaires du Client. Au moment de l’affichage du récapitulatif d’achat, le prix total sera affiché.
		Avant de valider la commande, le Client a la possibilité de vérifier le détail de sa Commande et son prix total et de revenir aux pages précédentes pour corriger d’éventuelles erreurs ou éventuellement modifier sa commande conformément à l’article 1369-5 du Code civil. La confirmation de la commande entraîne acceptation des conditions générales de vente et formation du contrat. Lors de son achat sur le Site, le Client reconnait explicitement son obligation de paiement.</p>

		<p class="text-justify">Le paiement sera encaissé par Fit & Relax dès la conclusion de la commande.
		Le Client recevra un courrier électronique de confirmation de son achat. L’achat n’est définitivement confirmé qu’au moment de la validation du paiement et n’engage Fit & Relax qu’à réception du courrier électronique confirmant que la commande a bien été validée. Le Client Internet doit en conséquence consulter sa messagerie électronique. Tout service acheté faisant partie de la même commande qui ne figurerait pas dans le courrier électronique de confirmation ne fait pas partie du Contrat.
		À défaut d’indication ou d’accord préalable quant à la date d’exécution de la prestation, Fit & Relax exécute ou fait exécuter la prestation sans retard injustifié et au plus tard trente (30) jours calendaires après la conclusion du contrat.
		Le Client dispose de quatorze (14) jours calendaires à compter du jour de la conclusion du Contrat sur le site pour se rétracter. Le Client devra informer Fit & Relax de sa volonté claire et non-équivoque de se rétracter par tout moyen.
		Dans l’hypothèse d’une rétractation, Fit & Relax remboursera le Client de la totalité des sommes versées sans retard injustifié et au plus tard dans les quatorze (14) jours calendaires suivant la date à laquelle il est informé de la décision du Client de se rétracter. Le remboursement s’effectuera par le moyen choisi par Fit & Relax. 
		Le Client renonce à son droit de rétraction en cas d’exécution de la prestation dans le délai de rétractation de quatorze (14) jours calendaires. 
		L’archivage des communications, des commandes et des factures est effectué sur un support fiable et durable de manière à constituer une copie fidèle et durable. Ces communications, commandes et factures peuvent être produits à titre de preuve du Contrat.</p>

		10. Données personnelles.

		<p class="text-justify">Dans le cadre d’une inscription, le Client fournit des données personnelles qui sont obligatoires et nécessaires pour traiter l’inscription et exécuter la prestation et qui peuvent être utilisées à des fins de communication commerciale de la part de Fit & Relax. Les données personnelles seront conservées par Fit & Relax pendant une durée indéfinie, tant que le Client ne sera pas opposé par écrit (mail ou courrier) à leur conservation. Les destinataires des données sont Fit & Relax, les Prestataires (coachs sportifs et tous autres professionnels) désignés par Fit & Relax pour réaliser les prestations de services dans le cadre d’un Contrat.
		Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, le Client bénéficie d’un droit d’accès et de rectification des informations qui le concernent.
		Chaque Client pourra exercer son droit d’accès, d’opposition et de rectification en adressant un courrier électronique à l’adresse contact@fitandrelax.fr.
		Le Client peut, pour des motifs légitimes, s’opposer au traitement des données le concernant. Le Client pourra également s’opposer à l’utilisation de ses données personnelles à des fins de communication commerciale par courrier électronique en en faisant la demande par email à l’adresse contact@fitandrelax.fr.
		L’opposition d’un Client à l’utilisation de ses données personnelles dans le cadre de communications commerciales a pour conséquence de le priver de l’information concernant les offres commerciales de Fit & Relax, de sociétés affiliées ou de partenaires.</p>

		11. Propriété intellectuelle.

		<p class="text-justify">Tous les éléments visuels et sonores de Fit & Relax et du site internet, y compris la technologie sous-jacente utilisée, sont protégés par le droit d’auteur, le droit des marques, le droit des brevets et plus généralement par tous droits de propriété intellectuelle. Ces éléments sont la propriété exclusive de Fit & Relax ou de ses concédants. Aucun des éléments du site internet ou de tout ou partie de ceux-ci ne pourra être modifié, reproduit, copié, dupliqué, vendu, revendu, transmis, publié, communiqué, distribué, diffusé, représenté, stocké, utilisé, loué ou exploité de toute autre manière, à titre gratuit ou onéreux, quel que soient les moyens et/ou les supports utilisés, qu’ils soient connus ou inconnus à ce jour, sans l’autorisation préalable expresse et écrite de Fit & Relax.</p>

		12. Service clientèle.

		<p class="text-justify">La satisfaction de ses clients est une préoccupation constante de Fit & Relax.
		Fit & Relax essaie de répondre aux attentes de ses Clients le plus rapidement possible et de leur répondre dès que possible après réception d’une demande, suggestion ou réclamation.
		Pour toute demande, suggestion ou réclamation, le Client est invité à contacter le service client : Fit & Relax - Courrier électronique : contact@fitandrelax.fr.</p>

		13. Divers.

		<p class="text-justify">Toute modification de la législation ou de la réglementation en vigueur, ou toute décision d’un tribunal compétent invalidant une ou plusieurs clauses des conditions générales de vente ne saurait affecter la validité de l’intégralité des conditions générales de vente, dont les autres stipulations garderont toute leur force et leur portée. Une telle modification ou décision n’autorise en aucun cas les Clients à méconnaître les présentes conditions générales de vente.
		Le fait pour Fit & Relax de ne pas se prévaloir, à un moment donné, de l’une quelconque des clauses du Contrat, ne peut être interprété comme une renonciation à s’en prévaloir ultérieurement.</p>
	</div>
	<div class="col-1">
	</div>
</div>
{% endblock %} 